*{
  box-sizing: border-box;
}
body{
  font-size: 1.2rem;
}
header{
  background: url(https://orange.codeberryschool.com/content/images/project-assets/page-header-bg.jpg) no-repeat center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  color: antiquewhite;
  text-align: center;
  font-family: 'Cormorant Garamond', serif;
  position: relative;
}
header h1{
  position: inherit;
  font-size: 6rem;
  line-height: 8rem;
  top: 35vh;
}
.author{
  position: inherit;
  top: 30vh;
}
.date{
  position: inherit;
  top: 33vh;
  font-size: 1rem;
}
.slogen{
  position: inherit;
  top: 40vh;
}